body {
  margin: 0;
  padding: 0;
}

.sections {
  display:flex;
  flex-direction: column;
}

.header, .image-section, .information, .quote-section, .quote-container, .sign-up, .footer, .image-description,
.card-container, .card, .sign-up, .banner {
  display: flex;
}

.information, .quote-section, .sign-up{
  margin: 4% 0%;
}

.header {
  background-color: #1F2937;
  color: white;
  justify-content: space-between;
  padding: 2% 15%;
}

.header-right {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  align-items: center;
}

.header-left {
  font-size: 24px;
}

.image-section {
  justify-content: center;
  background-color: #1F2937;
  color: white;
  padding: 2% 0%;
  gap: 2%;
}

.image-description {
  flex-direction: column;
  justify-content: center;
  max-width: 40%;
  flex: auto;
}

#shrek {
  width: 400px;
  height: auto;
}
#bee-button {
  color: white;
  background-color: cornflowerblue;
  width: 200px;
  height: 100;
  padding: 10px;
}

.information {
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.card-container {
  width: 600px;
  justify-content: space-around;
}

.card {
  flex-direction: column;
}

a {
  text-decoration: none;
  color: white;
}
.quote-section {
  background-color: #E5E7EB;
  justify-content: center;
  margin: 25px 0px;
  padding: 25px 0px;
}

.quote-container {
  flex-direction: column;
  flex: 1;
  max-width: 50%;
}

p {
  align-self: flex-start;
}

h4 {
  margin: 0px;
  padding: 0px;
  align-self: flex-end;
}

.sign-up {
  justify-content: center;
  margin: 25px;
}

.banner{
  justify-content: space-between;
  background: mediumslateblue;
  border-radius: 5px;
  box-shadow: 2px 4px 4px rgba(0,0,0,.2);
  padding: 20px;
  width: 250px;
}

.footer {
  background-color: #1F2937;
  justify-content: center;
  color: white;
  padding: 15px 0px;
}